:root {
  --color-font: #000;
  --color-primary-light-1: #d7f5dc;
  --color-primary-light-2: #f8fff9;
  --color-primary-light-3: #fafffb;
  --color-primary-dark: #20b15a;
}

/*

font guide
400 - regular
500 - medium
600 - semi bold
700 - bold


100-200-400-600-800-1200-1400
40-60-80-100
10-20-30-40-50
2-21

*/
* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent;
}

.header {
  background-color: var(--color-primary-light-1);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 75em) {
  .container {
    padding: 0 2rem 0 2rem;
  }
}

.business-solution {
  padding: 7.5rem 0;
}

.business-solution .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.business-solution .offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .business-solution .offers {
    display: block;
  }
}

.statistics-container {
  background-color: var(--color-primary-light-2);
}

.statistics-container .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.portfolio .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio {
  padding: 8rem 0 4rem 0;
}

@media only screen and (max-width: 37.5em) {
  .portfolio {
    padding: 4rem 0 2rem 0;
  }
}

.testimonials {
  padding: 0 0 5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .testimonials {
    padding: 0;
  }
}

.testimonials .container {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonials__wrapper {
  padding: 8rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-wrapper .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8rem;
}

@media only screen and (max-width: 37.5em) {
  .subscribe-wrapper .container {
    padding: 3rem;
  }
}

.footer-wrapper {
  background-color: #00ca72;
  padding: 10rem 0 3rem 0;
}

@media only screen and (max-width: 37.5em) {
  .footer-wrapper {
    padding: 4rem 0 2rem 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header.activated {
  background-color: var(--color-primary-dark);
}

.header.activated nav {
  background-color: var(--color-primary-dark);
}

.header.activated .nav__btn-login {
  border: 1px solid #fff;
}

.header.activated .nav__btn-register {
  background-color: #f55f1d;
}

.nav {
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  background-color: var(--color-primary-light-1);
  font-size: 1.6rem;
  font-weight: 500;
}

.nav .logo-link {
  margin-right: auto;
}

.nav__logo {
  width: 18rem;
  height: 5rem;
  margin: 1rem auto 1rem 2rem;
}

.nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
}

.nav__link {
  color: var(--color-font);
  margin-right: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .nav__link {
    margin-right: 1rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .nav__links .nav__items {
    display: none;
  }
}

.nav__links .nav__items:first-child > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__links .nav__items:first-child > a::after {
  content: '';
  display: inline-block;
  background: url("../img/v-icon.png") no-repeat;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  position: relative;
  top: 0.8rem;
}

.nav__link:link, .nav__link:visited {
  text-decoration: none;
}

@media only screen and (max-width: 56.25em) {
  .nav__btn {
    display: none;
  }
}

.nav__btn-login {
  border: 1px solid var(--color-primary-dark);
  background-color: transparent;
}

.nav__btn-register {
  color: #fff;
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
}

.nav__btn-login, .nav__btn-register {
  cursor: pointer;
  margin-right: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font: inherit;
}

@media only screen and (max-width: 56.25em) {
  .nav__btn-login, .nav__btn-register {
    margin-right: 1rem;
  }
}

.nav .menu {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 7rem;
  right: 0rem;
  z-index: 9999;
  background-color: var(--color-primary-dark);
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transition: opacity 0.25s linear, visibility 0s linear, -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition: opacity 0.25s linear, visibility 0s linear, -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 0.25s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.25s linear, visibility 0s linear;
  transition: transform 0.25s cubic-bezier(0.5, 0, 0.5, 1), opacity 0.25s linear, visibility 0s linear, -webkit-transform 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  -webkit-transition-delay: 0s, 0s, 0s;
          transition-delay: 0s, 0s, 0s;
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}

.nav .menu__list {
  list-style: none;
}

.nav .menu__list-item {
  list-style: none;
  padding: 1rem;
}

.nav .menu__list-item a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
  font-size: 2.5rem;
  display: block;
}

.nav .menu__list-item a:hover {
  color: #f55f1d;
  -webkit-transform: scale(110%);
          transform: scale(110%);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.nav .menu.activated {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

@-webkit-keyframes circle-animate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes circle-animate {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
  }
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(0.75);
            transform: scale(0.75);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.nav .nav__btn-toggle-menu {
  color: #000;
  border: none;
  background-color: transparent;
  font-size: 3.5rem;
  cursor: pointer;
  margin-right: 3rem;
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .nav .nav__btn-toggle-menu {
    display: block;
  }
}

.nav .nav__btn-toggle-menu.activated .open-menu-icon {
  display: none;
}

.nav .nav__btn-toggle-menu.activated .close-menu-icon {
  display: block;
}

.nav .nav__btn-toggle-menu .close-menu-icon {
  display: none;
}

.header-content {
  background-color: var(--color-primary-light-1);
  padding-top: 10rem;
}

@media only screen and (max-width: 37.5em) {
  .header-content .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

@media only screen and (max-width: 37.5em) {
  .content {
    margin-top: 3rem;
    text-align: center;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.content__slogan {
  font-size: 5rem;
  font-weight: 700;
}

@media only screen and (max-width: 37.5em) {
  .content__slogan {
    font-size: 3.5rem;
  }
}

.content__description {
  font-size: 2rem;
  font-weight: 400;
  margin: 1rem 0 2.5rem 0;
}

@media only screen and (max-width: 37.5em) {
  .content__description {
    font-size: 1.6rem;
  }
}

.content__btn-cta {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2rem;
  color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  background-color: var(--color-primary-dark);
  border: 1px solid var(--color-primary-dark);
  cursor: pointer;
}

@media only screen and (max-width: 68.75em) {
  .content__btn-cta {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .content__btn-cta {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.header-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 56.25em) {
  .header-image {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 0 auto;
  }
}

.header-image-item {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 2.6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 56.25em) {
  .header-image-item {
    margin-top: 0;
  }
}

@media only screen and (max-width: 37.5em) {
  .header-image-item {
    max-width: 35rem;
  }
}

.company-logos {
  background-color: var(--color-primary-light-2);
  border-bottom: 3rem solid var(--color-primary-light-1);
}

@media only screen and (max-width: 37.5em) {
  .company-logos .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.company-logos .logo:last-child {
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em) {
  .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

.logo__item {
  width: 100%;
  padding: 5rem 4rem 5rem 4rem;
}

@media only screen and (max-width: 56.25em) {
  .logo__item {
    padding: 2rem;
  }
}

.solution__heading h3,
.portfolio__heading h3,
.testimonials__heading h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary-dark);
  text-transform: uppercase;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 37.5em) {
  .solution__heading h3,
  .portfolio__heading h3,
  .testimonials__heading h3 {
    font-size: 1.6rem;
  }
}

.solution__heading h2,
.portfolio__heading h2,
.testimonials__heading h2 {
  font-size: 3rem;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .solution__heading h2,
  .portfolio__heading h2,
  .testimonials__heading h2 {
    font-size: 2rem;
  }
}

.offers {
  margin-top: 3rem;
}

.offers__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 6rem 3rem;
}

@media only screen and (max-width: 56.25em) {
  .offers__item {
    padding: 2rem 2rem;
  }
}

.offers__item:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.offers__item:hover .offers__cta-btn {
  color: #fff;
  background-color: #f55f1d;
}

.offers__item:hover .offers__cta-btn::after {
  background: url("../img/arrow-right-reverse.png") no-repeat;
}

.offers__icon {
  width: 8rem;
}

.offers h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.offers p {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
}

.offers__cta-btn {
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 2rem 2.5rem;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0;
}

@media only screen and (max-width: 56.25em) {
  .offers__cta-btn {
    padding: 1.5rem 1.5rem;
  }
}

.offers__cta-btn::after {
  content: '';
  display: inline-block;
  background: url("../img/arrow-right.png") no-repeat;
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  position: relative;
}

.stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0rem;
}

@media only screen and (max-width: 37.5em) {
  .stats {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.stats__item-image {
  display: block;
  width: 7rem;
  margin: 0 auto;
}

.stats__item {
  padding: 2rem;
  width: 24rem;
  text-align: center;
}

@media only screen and (max-width: 56.25em) {
  .stats__item {
    padding: 2rem;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 37.5em) {
  .stats__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.stats__item:not(:last-child) {
  border-right: 1px solid #c4c4c4;
}

@media only screen and (max-width: 37.5em) {
  .stats__item:not(:last-child) {
    border: none;
  }
}

@media only screen and (max-width: 37.5em) {
  .stats__item:nth-child(odd) {
    border-right: 1px solid #c4c4c4;
  }
}

@media only screen and (max-width: 37.5em) {
  .stats__item:nth-child(-n + 2) {
    border-bottom: 1px solid #c4c4c4;
  }
}

.stats p {
  margin-top: 1rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.stats h1 {
  color: var(--color-primary-dark);
  font-size: 4rem;
  font-weight: 600;
  margin: 2rem 0;
}

.stats h1 span:not(:last-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.portfolio__apps {
  margin: 7.5rem 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__apps {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media only screen and (max-width: 37.5em) {
  .portfolio__apps {
    margin: 2rem 0;
  }
}

.portfolio__apps-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__apps-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.portfolio__apps-item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__apps-item:last-child .portfolio__apps-item-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio__apps-item:last-child .portfolio__apps-item-website h2,
.portfolio__apps-item:last-child .portfolio__apps-item-website p {
  margin-left: 3.5rem;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__apps-item:last-child .portfolio__apps-item-website h2,
  .portfolio__apps-item:last-child .portfolio__apps-item-website p {
    margin-left: 0;
  }
}

.portfolio__apps-item:last-child .portfolio__apps-item-website .portfolio__apps-item-website-image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media only screen and (max-width: 68.75em) {
  .portfolio__apps-item:last-child .portfolio__apps-item-website .portfolio__apps-item-website-image {
    width: 90%;
  }
}

@media only screen and (max-width: 37.5em) {
  .portfolio__apps-item:last-child .portfolio__apps-item-website .portfolio__apps-item-website-image {
    width: 100%;
  }
}

.portfolio__apps-item h2 {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

.portfolio__apps-item p {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
  width: 90%;
}

.portfolio__apps-item-website {
  margin-bottom: 7.5rem;
}

@media only screen and (max-width: 37.5em) {
  .portfolio__apps-item-website {
    margin-bottom: 2rem;
  }
}

.portfolio__apps-item-website-image {
  margin-bottom: 3rem;
  max-width: 100%;
  height: auto;
}

.testimonials__wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 10rem 3rem;
  scroll-behavior: smooth;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper {
    padding: 5rem 1rem;
  }
}

.testimonials__heading {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__heading {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media only screen and (max-width: 37.5em) {
  .btn-testimonials {
    margin-top: 2rem;
  }
}

.btn-testimonials-left, .btn-testimonials-right {
  border: none;
  background: transparent;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 37.5em) {
  .btn-testimonials-left, .btn-testimonials-right {
    width: 6rem;
    height: 6rem;
  }
}

.btn-testimonials-left {
  background-image: url(/img/btn-left.png);
  background-size: cover;
}

.btn-testimonials-left:active:focus, .btn-testimonials-right:active:focus {
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.btn-testimonials-right {
  background-image: url(/img/btn-right.png);
  background-size: cover;
}

.testimonials__wrapper.active {
  background: rgba(255, 255, 255, 0.3);
  cursor: grabbing;
  cursor: -webkit-grabbing;
}

.testimonials__wrapper-item {
  border-radius: 2rem;
  margin-right: 4rem;
  -webkit-box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.3);
  padding: 3rem;
  min-width: 47rem;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper-item {
    padding: 2rem;
    min-width: 30rem;
    margin-right: 2rem;
  }
}

.testimonials__wrapper-item p {
  font-size: 1.8rem;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper-item p {
    font-size: 1.6rem;
  }
}

.testimonials__wrapper-item-user {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper-item-user {
    margin-top: 1rem;
  }
}

.testimonials__wrapper-item-user img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper-item-user img {
    width: 7.5rem;
    height: 7.5rem;
  }
}

.testimonials__wrapper-item-user .user-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.testimonials__wrapper-item-user .user-box h3:first-child {
  font-size: 2rem;
  font-weight: 600;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper-item-user .user-box h3:first-child {
    font-size: 1.4rem;
  }
}

.testimonials__wrapper-item-user .user-box h3:last-child {
  font-size: 2rem;
  font-weight: 400;
}

@media only screen and (max-width: 37.5em) {
  .testimonials__wrapper-item-user .user-box h3:last-child {
    font-size: 1.4rem;
  }
}

.subscribe {
  width: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.subscribe h2 {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-primary-dark);
  margin: 2rem 0;
}

.subscribe h3 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: capitalize;
}

.subscribe p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #8b8b8b;
  text-transform: capitalize;
}

.subscribe form {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

@media only screen and (max-width: 37.5em) {
  .subscribe form {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.subscribe form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 6rem;
  border: 1px solid #000;
  border-radius: 1.4rem;
  outline: none;
  font-size: 1.6rem;
  padding: 0 0 0 3rem;
  font-weight: 400;
}

@media only screen and (max-width: 37.5em) {
  .subscribe form input {
    text-align: center;
    padding: 0;
  }
}

.btn-subscribe {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem 2.5rem;
  border-radius: 1.4rem;
  background-color: #f55f1d;
  border: none;
  cursor: pointer;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: -14.3rem;
}

@media only screen and (max-width: 37.5em) {
  .btn-subscribe {
    margin-top: 0.5rem;
    margin-left: 0rem;
    width: 100%;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer .social {
  margin-right: 20rem;
}

@media only screen and (max-width: 56.25em) {
  .footer .social {
    margin-right: 10rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .footer .social {
    border-top: 1px solid #c4c4c4;
    margin-top: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.footer .social h1 {
  font-size: 4rem;
  font-weight: 700;
  margin-left: 2rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 37.5em) {
  .footer .social h1 {
    margin-top: 3rem;
    margin-left: 0;
    text-align: center;
  }
}

.footer .social p {
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem 0 2rem 0;
}

.footer .social .social-icons {
  margin-bottom: 10rem;
}

.footer .social .social-icons ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 37.5em) {
  .footer .social .social-icons {
    margin-bottom: 3rem;
  }
}

.footer .social .social-icons img {
  width: 4rem;
  height: 4rem;
  background-color: var(--color-primary-dark);
  border-radius: 50%;
  margin-right: 1.5rem;
}

.footer .quicklinks h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.footer .quicklinks ul {
  list-style: none;
}

.footer .quicklinks ul li {
  padding: 1rem 0;
}

.footer .quicklinks ul li a {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}

.footer .address h2 {
  margin-bottom: 3rem;
  font-size: 2rem;
  font-weight: 600;
}

.footer .address p {
  font-size: 1.8rem;
}
/*# sourceMappingURL=main.css.map */